/* stylesheet2.css */
/* Lex van Os */

main	{background-color: rgb(0, 221, 190);
		height: 60px;

}
article	{background-color: rgb(0, 221, 121);

	
}

footer	{background-color: rgb(0, 221, 121);
			font-weight:bold;
}

aside	{background-color: rgb(0, 221, 190);
		position: absolute;
		top: 500px;
		right: 20px;
		width: 30%;
		display: inline-block;
		padding: 25px;
		border: 10px solid black;
	
	
}

div		{
			background-color: rgb(191, 255, 145);
			margin: 25px;
			padding: 1px;
			height: 80px;
			
}